.librosInicio {
    width: 10%;
    height: 80%;
}
.librosListas {
    width: 5%;
    height: 30%;
}
.libro {
    width: 30%;
    height: 100%;
}
.perfil {
    width: 3%;
    height: 3%;
    border-radius: 50%;
}
.perfilPrincipal {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 3px solid black;
}
.logo {
    width: 15%;
    height: 7%;
}
table {
    width: 70%;
    border: 1px solid black;
}
td, th {
    width: 10%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
th {
    background-color: rgb(201, 237, 190);
}